/* ========== COMMON STYLES ========== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafaea;
}

/* < !--======================================HEADER======================================--> */
.sec-header {
    margin-bottom: 50px;
    max-width: 1200px;
        height: 61px;
}

.nav-header {
    display: flex;
    justify-content: center;
}

.menu-hreader {
    display: flex;
    gap: 40px;
    padding: 20px 0 20px 0;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #703412;
}

/* < !--======================================HEADER======================================--> */
.sec-hero {
    max-width: 1200px;
    height: 572px;
    margin-bottom: 50px;
}

.container-hero {
    margin-left: 72px;
    max-width: 848px;
}

.para-hero {
    font-weight: 400;
    font-size: 11px;
    line-height: 4;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #703412;
    padding-bottom: 21px;
}

.title-hero {
    font-family: "Roboto",
    sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 1.1;
    color: #703412;
}

/* < !--======================================PATTERN BRANDS======================================--> */
.sec-pattern {
    max-width: 1056px;
    height: 1941px;
    margin: 0 0 50px 72px;
}

.title-pattern {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.3;
    color: #703412;
    width: 600px;
    height: 123px;
    margin-bottom: 200px;
} 

.menu-pattern {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
}

.item-pattern {
    width: calc((100% - 120px) / 3);
}

.container-pattern {
    text-align: center;
}

.img-paterrn {
    width: 312px;
    height: 310px;
}

.img-title-pattern {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: #703412;
    margin: 32px 0 11px 0;
}

.para-pattern {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: rgba(112, 52, 18, 0.72);
}
